.top,
.middle,
.bottom {
  height: 60px;
  width: 350px;
}

.top {
  background-color: #ff671f;
}

.middle {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.bottom {
  background-color: #138808;
}

.wheel {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* background-color: #06038d; */
  /* text-align: center; */
  margin: auto;
  outline: 1px solid #06038d;
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #06038d;
  left: 50%;
}

.line:nth-child(1) {
  transform: rotate(15deg);
}

.line:nth-child(2) {
  transform: rotate(30deg);
}

.line:nth-child(3) {
  transform: rotate(45deg);
}

.line:nth-child(4) {
  transform: rotate(60deg);
}
.line:nth-child(5) {
  transform: rotate(75deg);
}
.line:nth-child(6) {
  transform: rotate(90deg);
}
.line:nth-child(7) {
  transform: rotate(105deg);
}
.line:nth-child(8) {
  transform: rotate(120deg);
}
.line:nth-child(9) {
  transform: rotate(135deg);
}
.line:nth-child(10) {
  transform: rotate(150deg);
}
.line:nth-child(11) {
  transform: rotate(165deg);
}
.line:nth-child(12) {
  transform: rotate(180deg);
}

/* .flag {
  width: 23%;
  margin: auto;
  text-align: center;
  align-items: center;
} */
